
## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

In [7]:
name = "Anna"
age = 39
height = 1.66
is_student = True
print(name)
print(age)
print(height)
print(is_student)

Anna
39
1.66
True


---

**2. Арифметичні операції**

In [8]:
var1 = 15
var2 = 4
print(f'Сума: {var1 + var2}')
print(f'Різниця: {var1 - var2}')
print(f'Добуток: {var1 * var2}')
print(f'Ділення: {var1 / var2}')
print(f'Цілочисельне ділення: {var1 // var2}')
print(f'Залишок від ділення: {var1 % var2}')
print(f'Піднесення до степеня: {var1 ** var2}')

Сума: 19
Різниця: 11
Добуток: 60
Ділення: 3.75
Цілочисельне ділення: 3
Залишок від ділення: 3
Піднесення до степеня: 50625


---

**3. Робота з рядками**

In [11]:
last_name = "Syrotiak"
name = "Anna"
full_name = name + " " + last_name
print(full_name)
print(full_name.upper())
print(full_name.lower())
print(len(full_name))
print(f'Мене звати {full_name}, мені {age} років')

Anna Syrotiak
ANNA SYROTIAK
anna syrotiak
13
Мене звати Anna Syrotiak, мені 39 років