**1. Списки - базові операції**

In [13]:
temperatures = [22, 25, 19, 23, 26, 20, 21, 22]
print(temperatures[0])
print(temperatures[-1])
temperatures.append(24)
temperatures.remove(19)
print(len(temperatures))
print(sum(temperatures))
print(max(temperatures))

22
22
8
183
26


**2. Словники - базові операції**

In [14]:
student = {
    "name": "Anna",
    "age": 39,
    "city": "Kyiv"
}
print(student["name"])
student["age"] = 21
student["hobby"] = "programming"
print(student.keys())
print(student.values())

Anna
dict_keys(['name', 'age', 'city', 'hobby'])
dict_values(['Anna', 21, 'Kyiv', 'programming'])