**1. Функція без параметрів**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [34]:

def show_menu(dishes):
  print("=== МЕНЮ ===")
  for i, dish in enumerate(dishes):
    print(f"{i+1}. {dish}")
  print("=============")

show_menu(["Суп грибний", "Котлета по-київськи", "Лимонад"])

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [35]:
def print_square(n):
  print(f"Квадрат числа {n} = {n**2}")

print_square(5)
print_square(7)
print_square(12)
print_square(4)
print_square(23)

Квадрат числа 5 = 25
Квадрат числа 7 = 49
Квадрат числа 12 = 144
Квадрат числа 4 = 16
Квадрат числа 23 = 529


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [36]:
def multiply(a, b):
  return a*b

print(multiply(248, 2))
print(multiply(45,5))
print(multiply(27, 3))
print(multiply(20, 31))

496
225
81
620


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [37]:
def find_max(numbers):
  max = numbers[0]
  for i in numbers:
    if i > max:
      max = i
  return max

numbers = [15, 42, 8, 23, 56, 19]
print(f"Список чисел: {numbers}")
print(f"Найбільше число: {find_max(numbers)}")

Список чисел: [15, 42, 8, 23, 56, 19]
Найбільше число: 56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [38]:
def check_grade(grade):
  if grade >= 60:
    return "Здав"
  else:
    return "Не здав"

print(f"Оцінка 20 : {check_grade(20)}")
print(f"Оцінка 100 : {check_grade(100)}")
print(f"Оцінка 60 : {check_grade(60)}")
print(f"Оцінка 40 : {check_grade(40)}")

Оцінка 20 : Не здав
Оцінка 100 : Здав
Оцінка 60 : Здав
Оцінка 40 : Не здав